<!-- compare_new section strat here -->
<section class="compare_new">
  <div class="container">
    <div class="compare_new_inner">
      <div class="compare_new-left">
        <div class="compare_new-logo">
          <!--         	<img loading="lazy" width="200px" height="33px" src="//cdn.shopify.com/s/files/1/0295/7888/7303/t/28/assets/2.svg?v=11488754510170812604" alt="" class="logo-header-img"> -->
          <img loading="lazy" width="100px" height="60px" src="{{ 'comp_logo.png' | asset_url }}" alt="" class="logo-header-img">
        </div>
        <ul>
          <li>
            <a href="#0">PRICE</a>
          </li>
          <li>
              <a href="#0">Amplitude</a>
          </li>
           <li>
              <a href="#0">Battery</a>
          </li>
           <li>
              <a href="#0">Power</a>
          </li>
        </ul>
      </div>   
      <div class="compare_new-right">
        <div class="compare_new_card-main">
          <div class="card_item">
            <div class="card_product-img">
<!--               <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0606/6179/2982/products/massage-gun-3-4-back.jpg?v=1641333039" alt=""> -->
              <img loading="lazy" src="{{ 'comp__1.png' | asset_url }}" alt="">
            </div>
              <div class="card_product-title">
                <!--               <h3>PHYSION® MINI</h3> -->
                <img loading="lazy" src="{{ 'logo__1.png' | asset_url }}" alt="">
            </div>
            <div class="card_product-deatails">
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>PRICE</h4>
              </div>
              <h5>£60</h5>
              </div>
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>Amplitude</h4>
              </div>
              <h5>12mm <span>deep</span></h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Battery</h4>
              </div>
              <h5>14 <span>hours</span> </h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Power</h4>
              </div>
                <h5>32kg <span>force</span> </h5>
              </div>
            </div>
          </div>   
          <div class="card_item">
            <div class="card_product-img">
              <!--             	<img loading="lazy" src="https://cdn.shopify.com/s/files/1/0606/6179/2982/products/2_render_white_75a219e6-d896-4867-92ba-a7e111dfd1f4.png?v=1641332727" alt=""> -->
              <img loading="lazy" src="{{ 'comp__2.png' | asset_url }}" alt="">
            </div>
              <div class="card_product-title">
                <!--               <h3>PHYSION® PRO</h3> -->
                <img loading="lazy" src="{{ 'logo__2.png' | asset_url }}" alt="">
            </div>
            <div class="card_product-deatails">
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>PRICE</h4>
              </div>
              <h5>£65</h5>
              </div>
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>Amplitude</h4>
              </div>
              <h5>10mm <span>deep</span></h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Battery</h4>
              </div>
              <h5>12 <span>hours</span> </h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Power</h4>
              </div>
               <h5>30kg <span>force</span> </h5>
              </div>
            </div>
          </div> 
		  <div class="card_item">
            <div class="card_product-img">
              <!--             	<img loading="lazy" src="https://cdn.shopify.com/s/files/1/0606/6179/2982/products/mini-gun-in-action.jpg?v=1641333150" alt=""> -->
              <img loading="lazy" src="{{ 'comp__3.png' | asset_url }}" alt="">
            </div>
              <div class="card_product-title">
                <!--               <h3>PHYSION® V2</h3> -->
                <img loading="lazy" src="{{ 'logo__3.png' | asset_url }}" alt="">
            </div>
            <div class="card_product-deatails">
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>PRICE</h4>
              </div>
              <h5>£130</h5>
              </div>
              <div class="card_product-deatails-main">
              	<div class="card_product-det-title">
                <h4>Amplitude</h4>
              </div>
              <h5>8mm <span>deep</span></h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Battery</h4>
              </div>
              <h5>2.5 <span>hours</span> </h5>
              </div>
              <div class="card_product-deatails-main">
              <div class="card_product-det-title">
                <h4>Power</h4>
              </div>
               <h5>15kg <span>force</span> </h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- compare_new section end here -->
