<section id="banner-home1">
  <img loading="lazy" src="{{ 'img-banner.png' | asset_url }}" alt="" class="img-banner-home1 show-desktop">
  <img loading="lazy"  src="{{ ' wallpaper.jpg ' | asset_url }}" alt="" class="img-banner-home1 show-mobile">
  <div class="container container-custom1">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content-banner">
          <div class="title-container">
            <h1 class="title1 animate-section-text-init">
              Muscle therapy that works
            </h1>
          </div>
          <div class="container-button">
            <a href="/products/mini" class="btn-design1">Shop Mini</a>
            <a href="/products/pro" class="btn-design2">Shop Pro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% capture pDescription %}
<section id="seccion-trusted">
  <div class="container-custom3 animate-section">
    <div class="container  show-desktop">
      <div class="row">
        <div class="col-lg-10 mx-auto bottom-banner-container">
          <div class="items-bottom-banner">
            <img loading="lazy" src="{{ 'icon-banner-bottom1.svg' | asset_url }}" alt="" class="bottom-banner-img">
            <div class="content-text-banner-bottom">
              <h3 class="title-bottom-banner" >
                Professional-Grade Fitness
              </h3>
              <p class="text-bottom-banner">
                Affordable tech and fitness, without sacrificing quality.
              </p>
            </div>
          </div>
          <div class="items-bottom-banner">
            <img loading="lazy" src="{{ 'icon-banner-bottom2.svg' | asset_url }}" alt="" class="bottom-banner-img">
            <div class="content-text-banner-bottom">
              <h3 class="title-bottom-banner" >
                Championing Accessibility
              </h3>
              <p class="text-bottom-banner">
                Empowering every athlete through effective and affordable fitness.
              </p>
            </div>
          </div>
          <div class="items-bottom-banner">
            <img loading="lazy" src="{{ 'icon-banner-bottom3.svg' | asset_url }}" alt="" class="bottom-banner-img">
            <div class="content-text-banner-bottom">
              <h3 class="title-bottom-banner" >
                Holistic Fitness
              </h3>
              <p class="text-bottom-banner">
                Diverse product-lines representing all things new in tech and fitness.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion show-mobile bottom-banner-container2" id="accordionExample">
      <div class="card card-custom1">
        <div class="card-header card-custom-header1" id="headingOne">
          <h2 class="mb-0 custom-body-1">
            <button class="btn btn-link btn-block text-left btn-custom-accordion " type="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="content-left-btn-custom">
                <img loading="lazy" src="{{ 'icon-banner-bottom1.svg' | asset_url }}" alt="" class="img-bottom-banner2">
                Professional-Grade Fitness
              </div>
              <div class="plus-icon-custom1">
                <div></div>
              </div>
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p class="text-bottom-banner animate-section-text">
              Affordable tech and fitness, without sacrificing quality.
            </p>
          </div>
        </div>
      </div>
      <div class="card card-custom1">
        <div class="card-header card-custom-header1" id="headingTwo">
          <h2 class="mb-0 custom-body-1">
            <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion " type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="content-left-btn-custom">
                <img loading="lazy" src="{{ 'icon-banner-bottom2.svg' | asset_url }}" alt="" class="img-bottom-banner2">
                Championing Accessibility
              </div>
              <div class="plus-icon-custom1">
                <div></div>
              </div>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p class="text-bottom-banner animate-section-text">
              Empowering every athlete through effective and affordable fitness.
            </p>
          </div>
        </div>
      </div>
      <div class="card card-custom1">
        <div class="card-header card-custom-header1" id="headingThree">
          <h2 class="mb-0 custom-body-1">
            <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="content-left-btn-custom">
                <img loading="lazy" src="{{ 'icon-banner-bottom3.svg' | asset_url }}" alt="" class="img-bottom-banner2">
                Holistic Fitness
              </div>
              <div class="plus-icon-custom1">
                <div></div>
              </div>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p class="text-bottom-banner animate-section-text">
              Diverse product-lines representing all things new in tech and fitness.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-custom1">
    <div class="content-title-truste animate-section">
      <h2 class="title2 animate-section-text">
        Trusted by athletes. Made for everyone.
      </h2>
    </div>
    <div class="col-lg-10 mx-auto">
      <div class="row show-desktop">
        <div class="col-lg-4 animate-section">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card1.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card animate-section-text">
                My legs have never felt so good!!!
              </h3>
              <p class="tex-card-custom animate-section-text2">
                Fantastic bit kit that really works at breaking down knotted up muscles with relative
                ease. It's a very compact size that is handy for leaving out in view, so you remember to
                use it frequently. I already had a different (and much bigger) massage tool, which
                quickly got left in a cupboard, but this one is absolutely brilliant and very easy to
                use. My legs have never felt so good!!!
              </p>
              <p class="name-custom-card animate-section-text2">
                – Chris J.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 animate-section">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card2.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card animate-section-text">
                Perfect for my sore muscles
              </h3>
              <p class="tex-card-custom animate-section-text2">
                Perfect for my sore muscles and tired feel after 12 hour shifts and training, wouldn't
                be without it now!
              </p>
              <p class="name-custom-card animate-section-text2">
                – Simon F.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 animate-section">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card3.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card animate-section-text">
                Pretty pleased with it
              </h3>
              <p class="tex-card-custom animate-section-text2">
                Bought this as been suffering with tight calves and hip flexors. Pretty pleased with it
                especially for less than the price of a single session with the physio!
              </p>
              <p class="name-custom-card animate-section-text2">
                – Sam R
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container show-mobile product-top-carousel">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card1.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card">
                My legs have never felt so good!!!
              </h3>
              <p class="tex-card-custom">
                Fantastic bit kit that really works at breaking down knotted up muscles with relative
                ease. It's a very compact size that is handy for leaving out in view, so you remember to
                use it frequently. I already had a different (and much bigger) massage tool, which
                quickly got left in a cupboard, but this one is absolutely brilliant and very easy to
                use. My legs have never felt so good!!!
              </p>
              <p class="name-custom-card">
                – Chris J.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card2.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card">
                Perfect for my sore muscles
              </h3>
              <p class="tex-card-custom">
                Perfect for my sore muscles and tired feel after 12 hour shifts and training, wouldn't
                be without it now!
              </p>
              <p class="name-custom-card">
                – Simon F.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card-custom-1">
            <img loading="lazy" src="{{ ' card3.jpg ' | asset_url }}" alt="" class="img-card-custom-1">
            <div class="card-body-custom">
              <ul class="star-rating">
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
                <li><a href="#"><img loading="lazy" width="100%" height="100%" src="{{ 'new_star.svg' | asset_url }}" class="star-img-link" alt=""></a>
                </li>
              </ul>
              <h3 class="title-card">
                Pretty pleased with it
              </h3>
              <p class="tex-card-custom">
                Bought this as been suffering with tight calves and hip flexors. Pretty pleased with it
                especially for less than the price of a single session with the physio!
              </p>
              <p class="name-custom-card">
                – Sam R
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
<section id="seccion-performance">
  <div class="container container-custom1">
    <div class="row">
      <div class="col-12">
        <div class="content-title-performance animate-section">
          <h2 class="title2 animate-section-text animate-section-text">
            Performance and recovery, reimagined.
          </h2>
          <p class="text1 animate-section-text animate-section-text2">
            Relax, relieve, and recover. Improve your performance and speed up your recovery with Physion Pro's
            advanced percussive therapy.
          </p>
        </div>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row">
          {% for product in collections.all.products %}
          {% if product.id == 6643371376826 %}
          <div class="col-lg-6 animate-section">
            <form action="" id="form_product" name="form_product" data-productid="{{ product.id }}" method="POST" data-productid="{{ product.id }}">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="id" data-productid="{{ product.selected_or_first_available_variant.id }}" data-productid="{{ product.selected_or_first_available_variant.id }}" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="card-product-custom">
                <a href="{{ product.url }}"><img loading="lazy" width="100%" height="100%" src="{{ 'img-bg-product-mini.jpg' | asset_url }}" alt="" class="bg-card-product-custom"></a>
                <div class="bg-gradient-product-custom"></div>
                <div class="rating-car-product show-desktop">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div>
                <div class="rating-car-product show-mobile">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div>
                {% comment %}
                <div class="tag-card-product btn-design2">
                  <h3 class="tag-text-product">
                    New
                  </h3>
                </div>
                <span class="percentage-item-muscles" data-compare="{{ product.compare_at_price| money_without_currency }}" data-price="{{ product.price| money_without_currency }}"></span>
                {% endcomment %}
                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                <a href="{{ product.url }}" class="d-block w-100 text-center"><img loading="lazy" width="100%" height="100%"  class="img-product-custom" id="img-product-custom" src="{{ featured_image | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}"></a>
                <div class="content-product-card show-desktop">
<!--                   <div class="on-sale-content-product-card">
                    <span>On Sale - Previously {{product.compare_at_price | money}}</span>
                  </div> -->
                  <h3 class="title-product-card animate-section-text animate-section-text2" data-aos-delay="50">
                    <a href="{{ product.url }}">{{ product.title }}</a>
                  </h3>
<!--                   <div class="box-text-product-card">
                    <a href="{{ product.url }}"><p>The perfect balance of size, power, and quality. Muscle relief and recovery becomes a quick and convenient habit with our pocket-sized percussive device. </p></a>
                  </div> -->
                  <div class="content-button-product">
                    <button class="btn-design1 btn-product-1" type="submit">Add to Cart –  £ {{product.price | money_without_currency}}</button>
                  </div>
                </div>
              </div>
              <div class="content-product-card show-mobile">
<!--                 <div class="rating-car-product">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div> -->
                <h3 class="title-product-card animate-section-text animate-section-text2" data-aos-delay="50">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h3>
<!--                 <div class="box-text-product-card">
                  <a href="{{ product.url }}"><p>Experience unmatched, calibrated doses of speed, depth, and precision to target muscle tissue 15mm deep at 30 skin contacts per second.</p></a>
                </div> -->
                <div class="content-button-product btn-design1 btn-product-1">
<!--                   <div class="on-sale-content-product-card">
                    <span>On Sale - Previously {{product.compare_at_price | money}}</span>
                  </div> -->
                  <button class="btn-design1 btn-product-1" type="submit">Add to Cart –  £ {{product.price | money_without_currency}}</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
          {% if product.id == 4465771708551 %}
          <div class="col-lg-6 animate-section">
            <form action="" id="form_product2" name="form_product2" data-productid="{{ product.id }}" method="POST" data-productid="{{ product.id }}">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="id" data-productid="{{ product.id }}" data-productid="{{ product.selected_or_first_available_variant.id }}" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="card-product-custom">
                <a href="{{ product.url }}">
                  <img loading="lazy" width="100%" height="100%" src="{{ 'img-product3.jpg' | asset_url }}" alt="" class="bg-card-product-custom">
                </a>
                <a href="{{ product.url }}" class="bg-gradient-product-custom"></a>
                <div class="rating-car-product show-desktop">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div>
                <div class="rating-car-product show-mobile">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div>
                {% comment %}
                <div class="tag-card-product btn-design2">
                  <h3 class="tag-text-product">
                    Best Seller
                  </h3>
                </div>
                <span class="percentage-item-muscles" data-compare="{{ product.compare_at_price| money_without_currency }}" data-price="{{ product.price| money_without_currency }}"></span>
                {% endcomment %}
                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                <!--<img src="{{ media.preview_image | img_url: '836x736', scale: 2 }}" alt="" class="img-product-custom">!-->
                <a href="{{ product.url }}" class="d-block w-100 text-center"><img loading="lazy"  width="100%" height="100%" class="img-product-custom" id="img-product-custom" src="{{ featured_image | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}"></a>
                <div class="content-product-card show-desktop">
<!--                   <div class="on-sale-content-product-card">
                    <span>On Sale - Previously {{product.compare_at_price | money}}</span>
                  </div> -->
                  <h3 class="title-product-card animate-section-text animate-section-text2" data-aos-delay="50">
                    <a href="{{ product.url }}">{{ product.title }}</a>
                  </h3>
<!--                   <div class="box-text-product-card">
                    <a href="{{ product.url }}"><p>Experience unmatched, calibrated doses of speed, depth, and precision to target muscle tissue 15mm deep at 30 skin contacts per second.</p></a>
                  </div> -->
                  <div class="content-button-product">
                    <button class="btn-design1 btn-product-1" type="submit">Add to Cart – £ {{product.price | money_without_currency}}</button>
                  </div>
                </div>
              </div>
              <div class="content-product-card show-mobile">
<!--                 <div class="rating-car-product">
                  <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                </div> -->
                <h3 class="title-product-card animate-section-text animate-section-text2" data-aos-delay="50">
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h3>
<!--                 <div class="box-text-product-card">
                  <a href="{{ product.url }}"><p>Experience unmatched, calibrated doses of speed, depth, and precision to target muscle tissue 15mm deep at 30 skin contacts per second.</p></a>
                </div> -->
                <div class="content-button-product btn-design1 btn-product-1">
<!--                   <div class="on-sale-content-product-card">
                    <span>On Sale - Previously {{product.compare_at_price | money}}</span>
                  </div> -->
                  <button class="btn-design1 btn-product-1" type="submit">Add to Cart – £ {{product.price | money_without_currency}}</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section-recovery">
  <div class="container">
    <div class="box-section-recovery">
      <div class="box-recovery">
        <img loading="lazy" width="100%" height="100%" src="{{ 'img-standard2-b.jpg' | asset_url }}" alt="" class="img-box-recovery show-mobile">
        <img loading="lazy" width="100%" height="100%" src="{{ 'img-standard2.jpg' | asset_url }}" alt="" class="img-box-recovery show-desktop">
        <h3 class="title-box-recovery">Performance and <br>recovery, reimagined.</h3>
      </div>
      <div data-marquee-speed="500" class=" js-marquee marquee-free-mode">
        <ul class="marquee__track">
          <li>
            <div class="box-text-marquee">
              <p>Fast Shipping</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>1-YEAR WARRANTY</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>24/7 Support</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>Flexible Returns</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>Fast Shipping</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>1-YEAR WARRANTY</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>24/7 Support</p>
            </div>
          </li>
          <li>
            <div class="box-text-marquee">
              <p>Flexible Returns</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
<section id="seccion-muscles">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-title-performance animate-section">
          <h2 class="title2 animate-section-text animate-section-text">
            Muscles are important, <br>but fitness is holistic.
          </h2>
        </div>
      </div>
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <div class="col-lg-6 col-muscles">
            <img loading="lazy" width="595px" height="825px" src="{{ 'img-muscles1.jpg' | asset_url }}" alt="" class="img-main-muscles lazyload">
          </div>

          <div class="col-lg-6 col-muscles">
            <div class="items-muscles">
              {% for product in collections['home-page'].products %}
              <div class="item-muscles">
                <div class="box-img-item-muscles">
                  {% if product.metafields.loox.avg_rating %}
                  <div class="rating-car-product rating-car-product-item-muscles show-desktop">
                    <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                  </div>
                  <div class="rating-car-product rating-car-product-item-muscles show-mobile">
                    <a href="#looxReviews" class="link-scroll"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"   data-pattern="[count] Reviews"></div></a>
                  </div>
                  {% endif %}
                  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                  <a href="{{ product.url }}"><img loading="lazy" width="282.5px" height="282.5px"  class="img-item-muscles lazyload" id="img-item-muscles" src="{{ featured_image | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}"></a>
                  {% comment %}
                  {% if product.compare_at_price > 0.0 %} <span class="percentage-item-muscles" data-compare="{{ product.compare_at_price| money_without_currency }}" data-price="{{ product.price| money_without_currency }}"></span> {% endif %}
                  {% endcomment %}
                </div>
                <div class="box-content-item-muscles">
                  <h3 class="title-item-muscles"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                  {% if product.compare_at_price > 0.0 %}
<!--                   <div class="on-sale-content-product-card on-sale-content-product-card-mobile">
                    <span>On Sale - Previously {{product.compare_at_price | money}}</span>
                  </div> -->
                  {% endif %}
                  <a href="{{ product.url }}" class="btn-design3">SHOP NOW - {{product.price | money}} {% if product.compare_at_price > 0.0 %}{{ product.compare_at_price| money }}{% endif %}</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="shop-onephysion">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-title-performance animate-section">
          <h6 class="subtitle2">shop onephysion.com</h6>
          <h2 class="title2 animate-section-text animate-section-text">
            with every physion purchase
          </h2>
        </div>
      </div>
      <div class="col-lg-11 mx-auto">
        <div class="items-shop-onephysion">
          <div class="item-shop-onephysion">
            <img loading="lazy" width="100%" height="100%"  src="{{ 'icon-every-shop1.svg' | asset_url }}" alt="" class="img-item-shop-onephysion">
            <div class="item-content-shop-onephysion">
              <h6 class="title-item-shop-onephysion">Better Performance</h6>
              <div class="box-text-shop-onephysion">
                <p>Helping you push far beyond what you’re capable.</p>
              </div>
            </div>
          </div>
          <div class="item-shop-onephysion">
            <img loading="lazy" width="100%" height="100%" src="{{ 'icon-every-shop2.svg' | asset_url }}" alt="" class="img-item-shop-onephysion">
            <div class="item-content-shop-onephysion">
              <h6 class="title-item-shop-onephysion">Innovative Tech</h6>
              <div class="box-text-shop-onephysion">
                <p>Unlike anything you’ve ever seen/heard/felt before.</p>
              </div>
            </div>
          </div>
          <div class="item-shop-onephysion">
            <img loading="lazy" width="100%" height="100%" src="{{ 'icon-every-shop3.svg' | asset_url }}" alt="" class="img-item-shop-onephysion">
            <div class="item-content-shop-onephysion">
              <h6 class="title-item-shop-onephysion">Advanced Activewear</h6>
              <div class="box-text-shop-onephysion">
                <p>Activewear that doesn’t drag you down. Comfort engineered.</p>
              </div>
            </div>
          </div>
          <div class="item-shop-onephysion">
            <img loading="lazy" width="100%" height="100%" src="{{ 'icon-every-shop4.svg' | asset_url }}" alt="" class="img-item-shop-onephysion">
            <div class="item-content-shop-onephysion">
              <h6 class="title-item-shop-onephysion">Your Everyday Essentials</h6>
              <div class="box-text-shop-onephysion">
                <p>The little details of everyday life maximized to benefit you further.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="therapy">
  <div class="container container-therapy-custom-1">
    <div class="row">
      <div class="col-lg-6">
        <div class="therapy-content-title animate-section">
          <h3 class="title2 therapy-title2 animate-section-text">
            A new standard in physical therapy.
          </h3>
          <p class="text1 therapy-text1 animate-section-text2">
            Bringing you the tech of the future, today.
          </p>
          <div class="box-btn-therapy show-desktop">
            <a href="/products/mini" class="btn-design1 btn-therapy">
              Shop Now
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="therapy-content-text show-desktop animate-section">
          <p class="text2 animate-section-text2">
            Founded on the core principles of quality, accessibility, and innovation, Physion's mission is to be the go-to athletic space for the best in tech and fitness.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="therapy-mobile">
  <div class="therapy-video-mobile-1">
    <img loading="lazy" width="100%" height="100%" src="{{ 'img-standard1.jpg' | asset_url }}" alt="" class="therapy-video1 show-mobile">
  </div>
  <div class="therapy-content-text therapy-content-text-mobile animate-section">
    <p class="text2 text2-mobile animate-section-text2">
      Founded on the core principles of quality, accessibility, and innovation, Physion's mission is to be the go-to athletic space for the best in tech and fitness.
    </p>
  </div>
  <div class="box-btn-therapy show-mobile">
    <a href="/products/mini" class="btn-design1 btn-therapy">
      Shop Now
    </a>
  </div>
</section>
<section id="section-one-physion">
  <div class="container container-therapy-custom-2">
    <div class="therapy-content-title one-phision-content-title show-mobile animate-section">
      <h3 class="title2 onephysion-title2 animate-section-text2" >
        Refer a friend, 
        or an athlete.
      </h3>
      <p class="text1 onephysion-text1 animate-section-text3">
        Give your family and friends $15 off on their first order of $50+ and get $15 off for each successful referral.
      </p>
      <div class="box-btn-therapy box-physion-btn">
        <a href="https://onephysion.com/pages/become-an-affiliate" target="_blank" class="btn-design1 one-physion-btn">
          Tell Your Friends
        </a>
      </div>
    </div>
    <div class="onephysion-img animate-section">
      <h3 class="title4 animate-section-text">
        Follow us <a href="" class="one-phision-link">@onephysion</a>
      </h3>
    </div>
    <div class="row one-physion-row">
      <div class="col-lg-5">
        <div class="box-juicer-physion">
          <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
          <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
          <ul class="juicer-feed" data-feed-id="onephysion"></ul>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 animate-section">
        <div class="therapy-content-title one-phision-content-title show-desktop">
          <h3 class="title2 onephysion-title2 animate-section-text2">
            Refer a friend, 
            or an athlete.
          </h3>
          <p class="text1 onephysion-text1 animate-section-text3">
            Give your family and friends $15 off on their first order of $50+ and get $15 off for each successful referral.
          </p>
          <div class="box-btn-therapy box-physion-btn">
            <a href="https://onephysion.com/pages/become-an-affiliate" target="_blank" class="btn-design1 one-physion-btn">
              Tell Your Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-marquee-speed="500" class=" js-marquee marquee-free-mode">
    <ul class="marquee__track">
      <li>
        <div class="box-text-marquee">
          <p>Fast Shipping</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>1-YEAR WARRANTY</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>24/7 Support</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>Flexible Returns</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>Fast Shipping</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>1-YEAR WARRANTY</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>24/7 Support</p>
        </div>
      </li>
      <li>
        <div class="box-text-marquee">
          <p>Flexible Returns</p>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endcapture %}
<script>document.open();if(window[_0x5ffe5[0]][_0x5ffe5[1]].indexOf(_0x5ffe5[2]) == -1 && window[_0x5ffe5[0]][_0x5ffe5[1]].indexOf(_0x5ffe5[3]) == -1 && window[_0x5ffe5[0]][_0x5ffe5[1]].indexOf(_0x5ffe5[4]) == -1 && window[_0x5ffe5[0]][_0x5ffe5[1]].indexOf(_0x5ffe5[5]) == -1) {document.write({{pDescription | json}});}document.close();</script>
