<section id="section-grid-product">
    <div class="container-custom2 mx-auto container container-custom-product-mobile">
        <div class="title-about1 animate-section title-content-superior-depth">
            <h2 class="title2 animate-section-text-init" data-aos-duration="500">
                Revitalizing the <br>
                fitness sphere.
            </h2>
        </div>
        <div class="box-grid-content-custom">
            <div class="box-grid-custom show-desktop">
                <div class="box-grid-item-1">
                    <img loading="lazy" src="{{ 'img-about1.png' | asset_url }}" alt="">
                </div>
                <div class="box-grid-item-2">
                    <img loading="lazy" src="{{ 'img-about2.png' | asset_url }}" alt="">
                </div>
                <div class="box-grid-item-3">
                    <img loading="lazy" src="{{ 'img-about3.png' | asset_url }}" alt="">
                </div>
                <div class="box-grid-item-4">
                    <img loading="lazy" src="{{ 'img-about4.png' | asset_url }}" alt="">
                </div>
                <div class="box-grid-item-5">
                    <img loading="lazy" src="{{ 'img-about5.png' | asset_url }}" alt="">
                </div>
                <div class="box-grid-item-6">
                    <img loading="lazy" src="{{ 'img-about6.png' | asset_url }}" alt="">
                </div>
            </div>
            <div class="content-img-about-mobile show-mobile">
                <div class="swiper-container product-carousel-9 ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about1.png' | asset_url }}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about2.png' | asset_url }}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about3.png' | asset_url }}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about4.png' | asset_url }}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about5.png' | asset_url }}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box-grid-item-mobile">
                                <img loading="lazy" src="{{ 'img-about6.png' | asset_url }}" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- If we need scrollbar -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="content-grid-product-text">
            <p>
                Physion was founded with a curiosity and drive to unearth only the best, most innovative products in health and wellness. We strive to represent a new standard in physical therapy as a holistic brand of all things new and tech in the fitness space. Having travelled across America and Europe to explore more diverse, holistic ranges of health products, we were able to exchange ideas with some amazing, inspiring innovators, a ton of dedicated athletes, and everyday people, just like us, whose health is their priority. At the end of it all, we brought back the most cutting-edge, world-class health and wellness solutions that serve to push the fitness space into new frontiers—and to share them with you.
            </p>
        </div>
    </div>
</section>
<section id="section-fitness-brand">
    <div class="container-custom2 mx-auto container">
        <div class="row">
            <div class="col-lg-5">
                <div class="box-fitness-brand-text">
                    <div class="content-title-text-fitness-brand">
                        <h3 class="title2">
                            More than just a <br>
                            fitness brand.
                        </h3>
                        <p class="text-card-custom">
                            Our mission is to empower athletes and everyday people through providing the newest and best products in the tech and fitness space.
                        </p>
                    </div>
                    <div class="content-box-text-fitness-brand show-desktop">
                        <h3 class="title3">
                            Fitness for everyone
                        </h3>
                        <p class="text-card-custom">
                            Feeling your best is for everyone. Physion offers the newest and best products in fitness that are affordable to every athlete.
                        </p>
                    </div>
                    <div class="content-box-text-fitness-brand show-desktop">
                        <h3 class="title3">
                            Recovery-first. Price second.
                        </h3>
                        <p class="text-card-custom">
                            A thorough and attentive recovery routine is essential for every athlete. Physion's therapy tools are designed with the toughest fitness routines in mind, never sacrificing quality and always vetted and loved by us first.
                        </p>
                    </div>
                    <div class="content-box-text-fitness-brand show-desktop">
                        <h3 class="title3">
                            Holistic fitness
                        </h3>
                        <p class="text-card-custom">
                            Physion's product lines extend beyond therapy tools—as a brand, we strive to represent a well-rounded athletic space for your go-to-tech and fitness needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="box-img-fitness-brand">
                    <img loading="lazy" src="{{ 'img-about7.png' | asset_url }}" alt="" class="img-fitness-brand">
                </div>
            </div>
            <div class="swiper-container product-carousel-10 show-mobile">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="content-box-text-fitness-brand">
                            <h3 class="title3">
                                Fitness for everyone
                            </h3>
                            <p class="text-card-custom">
                                Feeling your best is for everyone. Physion offers the newest and best products in fitness that are affordable to every athlete.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-box-text-fitness-brand">
                            <h3 class="title3">
                                Recovery-first. Price second.
                            </h3>
                            <p class="text-card-custom">
                                A thorough and attentive recovery routine is essential for every athlete. Physion's therapy tools are designed with the toughest fitness routines in mind, never sacrificing quality and always vetted and loved by us first.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-box-text-fitness-brand">
                            <h3 class="title3">
                                Holistic fitness
                            </h3>
                            <p class="text-card-custom">
                                Physion's product lines extend beyond therapy tools—as a brand, we strive to represent a well-rounded athletic space for your go-to-tech and fitness needs.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- If we need scrollbar -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
{% comment %} <section id="product-transport-recovery">
    <div class="container container-custom1 animate-section">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="row row-custom-transport">
                    <div class="col-lg-3 col-6">
                        <div class="transport-single-item">
                            <img loading="lazy" src="assets/img/truck-icon.svg" alt="" class="img-transport">
                            <p class="text-item-transport">
                                Fast Shipping
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="transport-single-item">
                            <img loading="lazy" src="assets/img/warranty-icon.svg" alt="" class="img-transport">
                            <p class="text-item-transport">
                                1-YEAR WARRANTY
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="transport-single-item">
                            <img loading="lazy" src="assets/img/support-icon.svg" alt="" class="img-transport">
                            <p class="text-item-transport">
                                24/7 Support
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="transport-single-item">
                            <img loading="lazy" src="assets/img/return-icon.svg" alt="" class="img-transport">
                            <p class="text-item-transport">
                                Flexible Returns
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}