<section id="accessories-section " class="accessories-custom-section faq-custom-section-page ">
    <div class="container container-custom-1">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="title-and-subtitle-accessories">
                    <h5 class="p-custom1">
                        HELP CENTER
                    </h5>
                    <h2 class="title2">
                        Frequently Asked questions
                    </h2>
                </div>
                <div class="faq-custom-collapse">
                    <div class="accordion bottom-banner-container2 product-collapse-container" id="accordionExample">
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1 product-collapse-header" id="headingOne">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="content-left-btn-custom">
                                    What is a Gel Blaster?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
            
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    The next evolution of fun! Gel Blasters are new revolutionary toy blasters that blast non-toxic, eco-friendly, biodegradable Gellets<b>™</b>. They're safe for people, pets and the environment!
                                    <br><br>Gellets<b>™</b> are colorful absorbent beads that burst on contact and immediately begin to disintegrate, leaving no stain, no mess and no clean up.
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingTwo">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="content-left-btn-custom">
                                    Do they hurt?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    Just enough sting to make it exciting! It feels like getting hit with a rubber band—a quick, minor sting. You probably won't even notice because you'll be too busy laughing.
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingThree">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="content-left-btn-custom">
                                    Do they leave a stain or residue?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                   Nope! Gel Blasters blast biodegradable Gellets<b>™</b>. Gellets<b>™</b> are small, colorful, water-based beads that are eco friendly, biodegradable, nontoxic and all natural. When Gellets burst on contact they instantly start to evaporate, meaning in 15 minutes or so POOF all evidence of battle is gone!
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingfour">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <div class="content-left-btn-custom">
                                    How far do they Blast?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    The Gel Blaster Surge blasts up to 100ft, although we recommend playing at close range. It's much more fun.
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingFive">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <div class="content-left-btn-custom">
                                        Is this just like airsoft or paintball?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Yes and no. Less pain. Less prep. Less mess. Same fun! <br><br>Gel Blasters differ from airsoft or paintball in that they don't leave behind any mess, are eco-friendly and non-toxic, require less prep, and are less painful (but still sting just enough to keep it exciting!). We promise they're just as much fun, if not more.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingSix">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <div class="content-left-btn-custom">
                                        Are Gellets safe for the environment, pets, people, etc?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Yes! The Gel Blaster Surge blasts biodegradable Gellets<b>™</b>. Gellets<b>™</b> are small, colorful, water-based beads that are all natural, non-toxic, and non-irritating. They burst on contact and immediately begin to evaporate, leaving no mess, stains, or residue behind.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingSix">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <div class="content-left-btn-custom">
                                        How do I hydrate my Gellets<b>™</b>?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Hydrating your Gellets is easy! <br><br>
                                        1. Pour the Gellest into your Ammo Tub or a 1gal container. <br>
                                        2. Add 1 gallon of water per 1 pack of Gellets. <br>
                                        1. Wait a minimum of 2 hours for your Gellets to grow!
                                        2. Strain your Gellets and have a BLAST!<br><br>
                                        Failing to completely hydrate the Gellets<b>™</b> may cause the Gel Blaster to function poorly. Overnight soaking is recommended.<br><br>
                                        **Note**: Gellets<b>™</b> will expand 10x their size. Make sure you use a big enough container and plenty of water. A 1 gallon bucket works great for hydrating a 10,000 Gellet pack.<br><br>
                                        Don't worry about using too much water. <b>You cannot overhydrate your Gellets™</b>.<br><br>
                                        Store hydrated Gellets<b>™</b> in an airtight container, away from the elements and direct sunlight.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingEight">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <div class="content-left-btn-custom">
                                        How do I store my Gellets<b>™</b>?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Hydrated Gellets<b>™</b> will last up to 2 weeks in an airtight container. Fully submerge the Gellets<b>™</b> in water for storage of up to 3 months. Keep dehydrated Gellets<b>™</b> dry until ready to use.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingNine">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <div class="content-left-btn-custom">
                                        How long do Gellets<b>™</b> last?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Gellets<b>™</b> last indefinitely when dehydrated, and up to 3 months when submerged in water.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingTen">
                                <h2 class="mb-0 custom-body-1">
                                    <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <div class="content-left-btn-custom">
                                        Are Gel Blasters safe?
                                    </div>
                                    <div class="plus-icon-custom1">
                                        <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                    </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text-bottom-banner animate-section-text product-text-collapse">
                                        Absolutely. Gellets<b>™</b> are soft and squishy, but they do travel up to 170fps, meaning they will sting a bit when they hit you. We recommend wearing long sleeves and pants when playing to negate some of that sting, especially for smaller children, and ALWAYS wear protective eyewear. (Every Gel Blaster package includes protective eyewear.)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>