<section id="accessories-section " class="accessories-custom-section faq-custom-section-page ">
    <div class="container container-custom-1">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <div class="title-and-subtitle-accessories">
                    <h5 class="p-custom1">
                        HELP CENTER
                    </h5>
                    <h2 class="title2">
                        Frequently Asked questions
                    </h2>
                </div>
                <div class="faq-custom-collapse">
                    <div class="accordion bottom-banner-container2 product-collapse-container" id="accordionExample">
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1 product-collapse-header" id="headingOne">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="content-left-btn-custom">
                                    Are Gellets™ Safe for the environment, pets, people, etc.?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
            
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    Are Gellets™ Safe for the environment, pets, people, etc.?
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingTwo">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="content-left-btn-custom">
                                    How do I hydrate my GelBlaster Gellets™?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    How do I hydrate my GelBlaster Gellets™?
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingThree">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="content-left-btn-custom">
                                    How do I store my GelBlaster Gellets™?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    How do I store my GelBlaster Gellets™?
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingfour">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion " type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <div class="content-left-btn-custom">
                                    How do I hydrate my GelBlaster Gellets™?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    How do I hydrate my GelBlaster Gellets™?
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="card card-custom1 product-collapse-card">
                            <div class="card-header card-custom-header1" id="headingFive">
                            <h2 class="mb-0 custom-body-1">
                                <button class="btn btn-link btn-block text-left collapsed btn-custom-accordion" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <div class="content-left-btn-custom">
                                    How do I store my GelBlaster Gellets™?
                                </div>
                                <div class="plus-icon-custom1">
                                    <div><img loading="lazy" src="{{ 'plus-img.svg' | asset_url }}" alt=""></div>
                                </div>
                                </button>
                            </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p class="text-bottom-banner animate-section-text product-text-collapse">
                                    How do I store my GelBlaster Gellets™?
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>